openapi: 3.0.3
info:
  title: PartsComponentsAPI.v1
  version: "1.0"
  description: |-
    - 電子部品のCRUDを行うWebAPI

    - 電子部品のカテゴリー

    - 電子部品のメーカー

    - 秋月電子通販サイトの情報を取得、注文情報の取得等を行う

    - 電子部品の在庫

    - プロジェクト管理
    - 履歴管理

  termsOfService: "https://akizukidenshi.com/catalog/default.aspx"
servers:
  - url: "http://localhost:5000"
    description: "開発環境"
  - url: "https://10.211.55.4/api/v1/caps"
    description: "検証環境"
paths:
  /components:
    $ref: "./parts-component/components.yaml"
  /components/{componentId}:
    $ref: "./parts-component/components/componentId.yaml"
  /categories:
    $ref: "./parts-component/categories.yaml"
  /categories/{categoryId}/components:
    $ref: "./parts-component/categories/components.yaml"
  /makers:
    $ref: "./parts-component/makers.yaml"
  /makers/{makerId}/components:
    $ref: "./parts-component/makers/components.yaml"

  /akizuki/catalogs/{catalogId}:
    $ref: "./akizuki/{catalogId}.yaml"

  # 在庫情報
  /components/inventories/:
    $ref: "./inventory/components.yaml"

  /components/{componentId}/inventories:
    $ref: "./inventory/{componentId}.yaml"

  /components/{componentId}/inventories:add:
    $ref: "./inventory/{componentId}-add.yaml"

  /components/{componentId}/inventories:remove:
    $ref: "./inventory/{componentId}-remove.yaml"

  /projects:
    $ref: "./project/projects.yaml"

  /projects/{projectId}:
    $ref: "./project/projects/projectId.yaml"

  /projects/{projectId}:undelete:
    $ref: "./project/projects/projectId.undelete.yaml"

  # Project histories
  /projects/{projectId}/histories:
    $ref: "./project/projects/histories/projectId.yaml"

  /projects/{projectId}/histories/latest:
    $ref: "./project/projects/histories/historyId.latest.yaml"

  /projects/{projectId}/histories/{historyId}:
    $ref: "./project/projects/histories/historyId.yaml"

  /projects/{projectId}/histories/{historyId}:revert:
    $ref: "./project/projects/histories/historyId.revert.yaml"
